
{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
        text: "Back",
        href: "javascript:history.back(1);"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Stakeholder</span>
        Joseph Waites
      </h1>
       <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <dl class="mhclg-summary-list">
                    <dt>Position</dt>
                    <dd>Finance Director</dd>
                </dl>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <dl class="mhclg-summary-list">
                        <dt>Organisation</dt>
                    <dd><a class="govuk-link" href="#">Digital Marketing</a></dd>
                </dl>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <dl class="mhclg-summary-list">
                    <dt>Region</dt>
                    <dd>North west England</dd>
                </dl>
            </div>
            <div class="govuk-grid-column-one-quarter">
                {{ govukButton({
                    text: "Record engagement"
                }) }}
            </div>
        </div>
    </div>
  </div>
   <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {{ govukTable({
          caption: "All engagements",
          captionClasses: "govuk-heading-m",
          firstCellIsHeader: false,
          head: [
            {
              text: "Staff"
            },
            {
              text: "Themes"
            },
            {
              text: "Date"
            },
            {
              text: "Summary",
              classes: 'govuk-!-width-one-half'
            }
          ],
          rows: [
            [
              {
                
                html: "<a href='/profile'>Linda Padilla</a>",
                classes : "govuk-body-s"
              },
              {
                html: "<a href='/organisation/lambeth'>Lambeth</a>",
                classes : "govuk-body-s"
              },
              {
                text: "01/01/2019",
                classes : "govuk-body-s"
              },
              {
                text: "Ribeye aute in frankfurter dolore ea rump nisi ipsum do et drumstick. Bresaola aute chicken short loin meatloaf, mollit buffalo minim kielbasa doner incididunt corned beef tongue...",
                classes : "govuk-body-s"
              }
            ],
            [
              {
                html: "<a href='/profile'>Clarice Starling</a>",
                classes : "govuk-body-s"
              },
              {
                html: "<a href='/organisation/institute-of-directors'>Institute of Directors</a>",
                classes : "govuk-body-s"
              },
              {
                text: "01/01/2019",
                classes : "govuk-body-s"
              },
              {
                text: "Corned beef capicola tail occaecat cupidatat, meatloaf minim chuck. In magna picanha, dolore excepteur reprehenderit fatback duis spare ribs porchetta...",
                classes : "govuk-body-s"
              }
            ],
            [
              {
                html: "<a href='/profile'>Noonien Singh</a>",
                classes : "govuk-body-s"
              },
              {
                html: "<a href='/organisation/central-london-gurdwara'>Central London Gurdwara</a>",
                classes : "govuk-body-s"
              },
              {
                text: "01/01/2019",
                classes : "govuk-body-s"
              },
              {
                text: "Biltong pastrami pork chop anim, jowl qui nulla venison. Ut corned beef aute drumstick tempor consequat...",
                classes : "govuk-body-s"
              }
            ]
          ]
        }) }}
        </div>
   </div>

{% endblock %}
