
{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
        text: "Back",
        href: "javascript:history.back(1);"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Organisation</span>
        {{ organisation.name }}
      </h1>
       <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <dl class="mhclg-summary-list">
                    <dt>Region</dt>
                    <dd>{{ region }}</dd>
                </dl>
            </div>
        </div>
    </div>
  </div>
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">  
         <table class="govuk-table">
            <caption class="govuk-table__caption govuk-heading-m">Stakeholders</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Name</th>
                  <th class="govuk-table__header" scope="col">Position</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for entry in stakeholders %}
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s" scope="row">
                            <a href="/stakeholder/{{entry.uid}}">
                            {{ entry.name.fullName }}
                            </a>
                        </td>
                        <td class="govuk-table__cell govuk-body-s" scope="row">
                              {{ entry.role }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">  
         <table class="govuk-table">
            <caption class="govuk-table__caption govuk-heading-m">Engagement history</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Date</th>
                  <th class="govuk-table__header" scope="col">Staff</th>
                  <th class="govuk-table__header" scope="col">Themes</th>
                  <th class="govuk-table__header govuk-!-width-one-half" scope="col">Summary</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for entry in engagements %}
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s" scope="row">
                            {{ entry.date }}
                        </td>
                        <td class="govuk-table__cell govuk-body-s" scope="row">
                              {{ entry.staff }}
                        </td>
                        <td class="govuk-table__cell govuk-body-s">
                              {% for item in entry.themes %}
                                <li>
                                    {% if item == "other" %}
                                        {{ data['stakeholder-other-theme'] | replace(", ", "\n") | escape | nl2br }}
                                    {% else %}
                                        {{item}}                            
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </td>
                        <td class="govuk-table__cell govuk-body-s">
                          {{ entry.summary | escape | truncate(200) | nl2br }}
                          <a href="#">See full engagement</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </div>

{% endblock %}
