
{% extends "layout.html" %}

{% block pageTitle %}
    {{serviceName}} - Record contact with a stakeholder
{% endblock %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
            text: "Home",
            href: "/"
            },
            {
            text: "Record contact with a stakeholder",
            href: "#"
            },
            {
            text: "Engagement summary"
            }
        ]
    }) }}
{% endblock %}

{% block content %}

{% set otherTheme %}

     {{ govukInput({
        label: {
            text: "Other themes"
        },
        hint: {
            text: "Seperate each theme with a comma"
        },
        classes: "govuk-!-width-three-quarters",
        id: "stakeholder-other-theme",
        name: "stakeholder-other-theme"
    }) }}

{% endset %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            
            <h1 class="govuk-heading-l">
                <span class="govuk-caption-l">Record contact with a stakeholder</span>
                Engagement summary
            </h1>
            <form action="next-steps" method="post" class="form">
            {% call govukFieldset({
                }) %}               

                {{ govukTextarea({
                    name: "stakeholder-summary-of-contact",
                    id: "stakeholder-summary-of-contact",
                    label: {
                        text: "Summary of contact"
                    },
                    hint: {
                        text: "Provide the key points, issues, risks, etc discussed with the stakeholder"
                    }
                }) }}

                {{ govukCheckboxes({
                    idPrefix: "stakeholder-themes",
                    name: "stakeholder-themes",
                    fieldset: {
                        legend: {
                        text: "Which themes did you cover?",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--m"
                        }
                    },
                    items: [
                        {
                        value: "communities",
                        text: "Communities"
                        },
                        {
                        value: "housing",
                        text: "Housing"
                        },
                        {
                        value: "jobs-and-growth",
                        text: "Jobs and growth"
                        },
                        {
                        value: "local-disruption",
                        text: "Local disruption"
                        },
                        {
                        value: "local-economies",
                        text: "Local economies"
                        },
                        {
                        value: "local-government",
                        text: "Local government"
                        },
                        {
                        value: "local-resilience",
                        text: "Local resilience"
                        },
                        {
                        value: "local-service-deliver",
                        text: "Local service delivery"
                        },
                        {
                            value: "other",
                            text: "Other",
                            conditional : {
                                html : otherTheme
                            }
                        }
                    ]
                }) }}

                {{ govukRadios({
                    classes: "govuk-radios--inline",
                    idPrefix: "stakeholder-escalated",
                    name: "stakeholder-escalated",
                    fieldset: {
                        legend: {
                        text: "Have you escalated anything as a result of this contact?",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--m"
                        }
                    },
                    items: [
                        {
                            value: "yes",
                            text: "Yes"
                        },
                        {
                            value: "no",
                            text: "No"
                        }
                    ]
                }) }}

            {% endcall %}

            {{ govukButton({
                text: "Save and continue",
                classes: "govuk-button"
            }) }}
            </form>
        </div>

        <div class="govuk-grid-column-one-third">
            {% include "includes/aside.html" %}
        </div>
    </div>

{% endblock %}
