
{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
      items: [
          {
              text: "Stakeholder Engagement Service",
              href: "/"
          },
          {
              text: "Dashboard"
          }
      ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-m">{{ serviceName }}</span>
        Dashboard
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form action="search" method="post" class="form">
          {% call govukFieldset({
              }) %}
              <label class="govuk-label govuk-!-width-three-quarters" for="three-quarters">Search</label>
              <span id="name-hint" class="govuk-hint">eg Organisation, Name, Region or Job title</span>
              <input class="govuk-input govuk-!-width-three-quarters" id="three-quarters" name="three-quarters" type="text">
              {{ govukButton({
                  text: "Search",
                  classes: "govuk-button"
              }) }}
          {% endcall %}
      </form>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-m mhclg-border-top govuk-!-padding-top-5">Policy Area</h3>
      <ul class="govuk-list govuk-body-s">
        {% for link, policy in policies %}
          <li>
            <a class="govuk-link" href="/policy/{{ link }}">{{ policy }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-m mhclg-border-top govuk-!-padding-top-5">Regions</h3>
      <ul class="govuk-list govuk-body-s">
      {% for link, region in regions %}
          <li>
            <a class="govuk-link" href="/region/{{ link }}">{{ region }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ govukTable({
          caption: "Your recent engagements",
          captionClasses: "govuk-heading-m",
          firstCellIsHeader: false,
          head: [
            {
              text: "Name"
            },
            {
              text: "Organisation"
            },
            {
              text: "Date"
            },
            {
              text: "Summary",
              classes: 'govuk-!-width-one-half'
            }
          ],
          rows: [
            [
              {
                
                html: "<a href='/profile'>Linda Padilla</a>",
                classes : "govuk-body-s"
              },
              {
                html: "<a href='/organisation/lambeth'>Lambeth</a>",
                classes : "govuk-body-s"
              },
              {
                text: "01/01/2019",
                classes : "govuk-body-s"
              },
              {
                text: "Ribeye aute in frankfurter dolore ea rump nisi ipsum do et drumstick. Bresaola aute chicken short loin meatloaf, mollit buffalo minim kielbasa doner incididunt corned beef tongue...",
                classes : "govuk-body-s"
              }
            ],
            [
              {
                html: "<a href='/profile'>Clarice Starling</a>",
                classes : "govuk-body-s"
              },
              {
                html: "<a href='/organisation/institute-of-directors'>Institute of Directors</a>",
                classes : "govuk-body-s"
              },
              {
                text: "01/01/2019",
                classes : "govuk-body-s"
              },
              {
                text: "Corned beef capicola tail occaecat cupidatat, meatloaf minim chuck. In magna picanha, dolore excepteur reprehenderit fatback duis spare ribs porchetta...",
                classes : "govuk-body-s"
              }
            ],
            [
              {
                html: "<a href='/profile'>Noonien Singh</a>",
                classes : "govuk-body-s"
              },
              {
                html: "<a href='/organisation/central-london-gurdwara'>Central London Gurdwara</a>",
                classes : "govuk-body-s"
              },
              {
                text: "01/01/2019",
                classes : "govuk-body-s"
              },
              {
                text: "Biltong pastrami pork chop anim, jowl qui nulla venison. Ut corned beef aute drumstick tempor consequat...",
                classes : "govuk-body-s"
              }
            ]
          ]
        }) }}
    
        {{ govukButton({
              text: "Record a new engagement",
              classes: "govuk-button",
              href: "engagement"
          }) }}
    </div>
  </div>

{% endblock %}
